<section class="home">
  <section class="intro">
    <h2>Seasonal</h2>
    <p>
      SZN is a website that presents you only recipes made from seasonal fruits and vegetables. 
      Why? Because being conscious on how you consume because it has an impact on the environment and on your health. 
      Eating local and seasonal is reducing the pollution (less water, less transport, less energy) and also gives you more vitamins. 
      Feel better, eat better.
    </p>
  </section>
  <section class="produces"> 
{{#each produces}}
    <div> 
      <h2>{{this.name}}</h2>
      <img src="{{this.image}}" alt="" />
    </div>
   
 {{/each}}

  </section>

  <a href="/recipe-list"> <button class="all-recipes">All The Recipes!</button></a>


</section>


