<section class="home">
  <section class="intro">
    <h2>Seasonal</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Ut elementum tincidunt eleifend.
      Donec turpis tellus, faucibus at velit sit amet, mollis condimentum magna.
      In cursus tortor elementum leo scelerisque rutrum. Cras nec tincidunt sem.
      Duis semper eros et iaculis accumsan.
      Vivamus fringilla orci in tellus pharetra, non scelerisque augue ornare.
      Sed rhoncus convallis felis ultrices mollis amet.
    </p>
  </section>

  <section class="produces">
    
    {{#each produce}}
    <div>
      
    </div>


    <div>
    

    </div>


    <div>

    </div>

    <div>

    </div>

    {{/each}}

  </section>


<!-- http://uxeast.org -->

{{!-- <a class="btn" data-js="btn">
  <span class="btn-inr">
    <span class="txt-a">See this button?</span>
    <span class="txt-b">Now ya do.</span>
  </span>
</a> --}}




  <a href="/recipe-list"> <button class="all-recipes btn-draw" ><span>All The Recipes!</span></button></a>


</section>