<section class="home">
  <section class="intro">
    <h2>SZNal</h2>
    <p>
      SZNal is a website that presents you only recipes made from seasonal fruits and vegetables. 
      Why? Because being conscious on what you consume has an impact on the environment and on your health. 
      Eating local and seasonal reduces pollution (less water, less transport, less energy) and also gives you more vitamins. 
      Feel better, eat better.
    </p>
  </section>

  <h3>All the seasonal produces</h3>
  <section class="produces"> 
{{#each produces}}
   
<div class="container">
  <img src="{{this.image}}" class="image">
  <div class="overlay">
    <div class="text">{{this.name}}</div>
  </div>
</div>


 {{/each}}

  </section>


</section>


