
<section class="intro">
  <h1>Seasonal</h1>
<p>
  lorem.
</p>
</section>

<section class="produce">

  <div>
    <p> </p>
    <img src="" alt="">
  </div>

  <div>
    <p> </p>
    <img src="" alt="">
  </div>

  <div>
    <p> </p>
    <img src="" alt="">
  </div>

  <div>
    <p> </p>
    <img src="" alt="">
  </div>

    <div>
    <p> </p>
    <img src="" alt="">
  </div>

  <div>
    <p> </p>
    <img src="" alt="">
  </div>

    <div>
    <p> </p>
    <img src="" alt="">
  </div>

  <div>
    <p> </p>
    <img src="" alt="">
  </div>

    <div>
    <p> </p>
    <img src="" alt="">
  </div>

  <div>
    <p> </p>
    <img src="" alt="">
  </div>

    <div>
    <p> </p>
    <img src="" alt="">
  </div>

  <div>
    <p> </p>
    <img src="" alt="">
  </div>

    <div>
    <p> </p>
    <img src="" alt="">
  </div>

  <div>
    <p> </p>
    <img src="" alt="">
  </div>

    <div>
    <p> </p>
    <img src="" alt="">
  </div>

  <div>
    <p> </p>
    <img src="" alt="">
  </div>

</section>


 <a href="./recipe-views/recipe-list.hbs"> <button>All The Recipes! </button></a>