// en-dessous de 550px changer la taille des images

// en-dessous de 750px changer le texte d'intro

// changer les proportions des images d'index en-dessous de 1200px



body {
  padding: 0;
  margin: 0;
  font-family: 'Paytone One', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

a {
  color: black;
}

html {
  margin: 0;
}

.winter h2 {
  color:#990000;
  font-size: 25px;
  padding-left: 1%;
  margin: 5%;
}

.spring h2 {
  color:#15A071;
  padding-left: 1%;
  margin: 5%;
}

.summer h2 {
  color: #F172A1;
  padding-left: 1%;
  margin: 5%;
}

.autumn h2 {
  color: #FFAE19;
  font-size: 35px;
}

.autumn h3 {
  color: #FFAE19;
  margin-top: 70px;
}

.winter button {
  background-color: #990000;
  padding: 25px 180px;
  border-radius: 10px;
}

.spring button {
  background-color: #15A071;
  padding: 25px 180px;
  border-radius: 10px;
}

.summer button {
  background-color:  #F172A1;
  padding: 25px 180px;
  border-radius: 10px;
}

.autumn button {
  background-color: #FFAE19;
  padding: 1px 70px;
  border-radius: 10px;
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;

}


header {
  background-image: url("../images/homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height : 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.nav-bar {
  background-color: #222222;
  margin-top: 20px;
  height : 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 20px;
}


.home-title {
  color: white;
  font-family: 'Paytone One', sans-serif;
  font-size: 300%;
  padding-left: 100px;
  padding-top: 30px;
  margin: 0;
}


.index-content {
  padding-top: 300px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.list-recipes img {
  width: 25%;
  height: 25%;
}

.list-recipes a {
  display: flex;
  text-decoration: none;
}

.home {
  padding-left: 1%;
  margin: 7%;
}

.intro p {
  padding-right: 50%;
}



.active {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.inactive {
  display: none;
}

.main-menu {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

// .recipes img {
//   width: auto;
//   max-height: 250px;
//   flex-direction: row;
// }

// .recipes {
//   display: flex;
//   justify-content: space-around;
//   flex-wrap: wrap;
//   flex-direction: column;
// }

// fade-in image and index page
// ----------------------------------------------------------------


.produces {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container-prod {
  position: relative;
  width: 23%;
  padding-bottom: 20px;

}

.image {
  display: block;
  width: 100%;
  max-height: 150px;
  border-radius: 3%;
  object-fit: cover;
  object-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 150px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  border-radius: 3%;
  
}

.container-prod:hover .overlay {
 opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

// recipes page
// -----------------------------------------------------------------


div.polaroid {
  width: 30%;
  height: 30%;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recipes img {
  display: block;
  width: 100%;
  max-height: 210px;
  object-fit: cover;
  object-position: center;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.polaroid p {
  text-align: center;
}