// en-dessous de 550px changer la taille des images

// en-dessous de 750px changer le texte d'intro

// changer les proportions des images d'index en-dessous de 1200px

body {
  padding: 0;
  margin: 0;
  font-family: 'Paytone One', sans-serif;
  font-family: 'Work Sans', sans-serif;
  color: #130303;
}

a {
  color: #130303;
}

html {
  margin: 0;
}

.winter h2 {
  color:#990000;
  font-size: 25px;
  padding-left: 1%;
  margin: 5% 0 0 5%;
}

.spring h2 {
  color:#15A071;
  padding-left: 1%;
  margin: 5% 0 0 5%;
}

.summer h2 {
  color: #F172A1;
  padding-left: 1%;
  margin: 5% 0 0 5%;
}

.autumn h2 {
  color: #FFAE19;
  font-size: 35px;
  margin: 5% 0 0 5%;
}

.autumn h3 {
  color: #FFAE19;
  margin-top: 70px;
}

.winter button {
  background-color: #990000;
  color: white;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  padding: 3px 30px;
  border-radius: 50px;
  border-color:#990000; 
  display: block;
  margin: auto;
}

.spring button {
  background-color: #15A071;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  padding: 3px 30px;
  border-radius: 50px;
  border-color: #15A071; 
  display: block;
  margin: auto;
}

.summer button {
  background-color:  #F172A1;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  padding: 3px 30px;
  border-radius: 50px;
  border-color: #F172A1; 
  display: block;
  margin: auto;
}

.autumn button {
  background-color: #FFAE19;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  padding: 3px 30px;
  border-radius: 50px;
  border-color: #FFAE19; 
  display: block;
  margin: auto;

}

.login-form, 
.signup-form,
.add-recipe {
  border: 1px solid #bdbdbd;
  border-radius: 50px;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
}


.form {
  display: block;
  margin: 0 33%; 
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.form-input {
  display: block;
  border-radius: 50px;
  border: 1px solid #d8d8d8;
}


header {
  background-image: url("../images/homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height : 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.nav-bar {
  background-color: #130303;
  margin-top: 20px;
  height : 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 20px;
}


.home-title {
  color: white;
  font-family: 'Paytone One', sans-serif;
  font-size: 300%;
  padding-left: 100px;
  padding-top: 30px;
  margin: 0;
}


.index-content {
  padding-top: 300px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.list-recipes img {
  width: 25%;
  height: 25%;
}

.list-recipes a {
  display: flex;
  text-decoration: none;
}

.home {
  padding-left: 1%;
  margin: 7%;
}

.intro p {
  padding-right: 50%;
}

.active {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.inactive {
  display: none;
}

.main-menu {
  width: 50%;
  display: flex;
  justify-content: space-around;
}




// fade-in image and index page
// ----------------------------------------------------------------


.produces {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container-prod {
  position: relative;
  width: 30%;
  padding-bottom: 20px;

}

.image {
  display: block;
  width: 100%;
  max-height: 150px;
  border-radius: 3%;
  object-fit: cover;
  object-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 150px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  border-radius: 3%;
  
}

.container-prod:hover .overlay {
 opacity: 0.8;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

// recipes page
// -----------------------------------------------------------------

a:link {
  text-decoration: none;
}

// div.polaroid {
//   width: 30%;
//   height: 30%;
//   background-color: white;
//   margin-bottom: 20px;
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
// }

.recipes img {
  display: block;
  width: 100%;
  max-height: 210px;
  object-fit: cover;
  object-position: center;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.polaroid p {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  height: 2.1em;

}

// one Recipe
// -----------------------------------------------------------

.div1-oneRecipe {
  display: flex;
}

.div2-oneRecipe img {
  width: 100%;
  height: auto;
}

.div2-oneRecipe {
  display: flex;
  justify-content: space-between;
  align-items: column;
  margin: 0 5% 0 5%;
}

section.one-recipe {
  margin: 0 5em;
}

.level-duration-ingredients {
  margin-right: 5em;
  //background-color: rgba(188, 171, 174, 1);
}

.level,
.duration,
.ingredients {
  background-color:  rgba(188, 171, 174, 0.5);
  width: 200px;
}


body {
  background: rgba(240,235,215,.5);
}

.container {
  text-align: center;
  
  div {
    position: relative;
    display: inline-block;
    height: 200px;
    width: 20%;
    overflow: hidden;
    border-radius: 7px;
    margin: 60px 15px;
    transition: .7s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
    box-shadow: 0 10px 50px -20px rgba(0,0,0,.75);

    img {
      width: 150%;
      margin: -25% -25%;
      min-height: 100%;
      transition: .7s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    span {
      position: absolute;
      bottom: -20px;
      left: 20px;
      font-family: Arial;
      color: rgba(255,255,255,0);
      font-size: 1.5rem;
      transition: .8s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    &:before {
      content: '';
      position: absolute;
      background: rgba(255,255,255,.1);
      width: 50px;
      height: 400px;
      transform: rotate(30deg);
      top: -40px;
      left: -200px;
      transition: 1s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
      border-radius: 10px;
      //box-shadow: 0 20px 50px -20px rgba(0,0,0,1);
  

      &:before {
        content: '';
        left: 350px;
      }

      img {
        width: 100%;
        margin: 0;
        min-height: 100%;
      }
      span {
        color: white;   // rgba(245,227,224,1);
        background-color: rgba(19, 3, 3, 0.8);
        bottom: 20px;
      }
    }
  }
}

.email {
  font-weight: bold;
  color: white;
}