body {
  padding: 0;
  margin: 0;
  font-family: 'Paytone One', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

a {
  color: black;
}

html {
  margin: 0;
}

.winter h2 {
  color:#990000;
  font-size: 25px;
  padding-left: 1%;
  margin: 5%;
}

.spring h2 {
  color:#15A071;
  padding-left: 1%;
  margin: 5%;
}

.summer h2 {
  color: #F172A1;
  padding-left: 1%;
  margin: 5%;
}

.autumn h2 {
  color: #FFAE19;
  font-size: 35px;
}

.winter button {
  background-color: #990000;
  padding: 25px 180px;
  border-radius: 10px;
}

.spring button {
  background-color: #15A071;
  padding: 25px 180px;
  border-radius: 10px;
}

.summer button {
  background-color:  #F172A1;
  padding: 25px 180px;
  border-radius: 10px;
}

.autumn button {
  background-color: #FFAE19;
  padding: 1px 70px;
  border-radius: 10px;
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;

}



header {
  background-image: url("../images/homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height : 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.nav-bar {
  background-color: #222222;
  margin-top: 20px;
  height : 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 20px;
}


.home-title {
  color: white;
  font-family: 'Paytone One', sans-serif;
  font-size: 300%;
  padding-left: 100px;
  padding-top: 30px;
  margin: 0;
}


.index-content {
  padding-top: 300px;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.list-recipes img {
  width: 25%;
  height: 25%;
}

.list-recipes a {
  display: flex;
  text-decoration: none;
}

.home {
  padding-left: 1%;
  margin: 7%;
}

.intro p {
  padding-right: 50%;
}

.produces img {
  width: auto;
  max-height: 250px;

}

.produces {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.active {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.inactive {
  display: none;
}

.main-menu {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.recipes img {
  width: auto;
  max-height: 250px;
  flex-direction: row;

}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}
