body {
  padding: 0;
  margin: 0;
  font-family: 'Paytone One', sans-serif;
  font-family: 'Work Sans', sans-serif;
  color: #130303; }

a {
  color: #130303; }

html {
  margin: 0; }

.winter h2 {
  color: #990000;
  font-size: 25px;
  padding-left: 1%;
  margin: 5% 0 0 5%; }

.spring h2 {
  color: #15A071;
  margin-top: 20px; }

.summer h2 {
  color: #F172A1;
  padding-left: 1%;
  margin: 5% 0 0 5%; }

.autumn h2 {
  color: #FFAE19;
  font-size: 35px;
  margin: 5% 0 0 5%; }

.autumn h3 {
  color: #FFAE19;
  margin-top: 70px; }

.winter button {
  background-color: #990000;
  color: white;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  padding: 3px 30px;
  border-radius: 50px;
  border-color: #990000;
  display: block;
  margin: auto; }

.spring button {
  background-color: #15A071;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  padding: 3px 30px;
  border-radius: 50px;
  border-color: #15A071;
  display: block;
  margin: auto; }

.summer button {
  background-color: #F172A1;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  padding: 3px 30px;
  border-radius: 50px;
  border-color: #F172A1;
  display: block;
  margin: auto; }

.autumn button {
  background-color: #FFAE19;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  padding: 3px 30px;
  border-radius: 50px;
  border-color: #FFAE19;
  display: block;
  margin: auto; }

.login-form,
.signup-form,
.add-recipe {
  border: 1px solid #bdbdbd;
  border-radius: 50px;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 20px;
  padding-bottom: 20px; }

.col-12 {
  padding: 0; }

.form {
  display: block;
  margin: 0 33%;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px; }

.form-input {
  display: block;
  border-radius: 50px;
  border: 1px solid #d8d8d8; }

header {
  background-image: url("../images/homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.nav-bar {
  background-color: #130303;
  margin-top: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 20px; }

.home-title {
  color: white;
  font-family: 'Paytone One', sans-serif;
  font-size: 300%;
  padding-left: 100px;
  padding-top: 30px;
  margin: 0; }

.index-content {
  padding-top: 300px; }

.nav-bar a {
  text-decoration: none;
  color: white; }

.list-recipes img {
  width: 25%;
  height: 25%; }

.list-recipes a {
  display: flex;
  text-decoration: none; }

.intro p {
  text-align: left; }

.intro,
.intro h2,
.intro h3 {
  text-align: left; }

.active {
  width: 50%;
  display: flex;
  justify-content: space-around; }

.inactive {
  display: none; }

.main-menu {
  width: 50%;
  display: flex;
  justify-content: space-around; }

.produces {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.container-prod {
  position: relative;
  padding-bottom: 20px; }

.image {
  display: block;
  margin-bottom: 10px;
  padding-right: 10px;
  width: 100%;
  max-height: 150px;
  border-radius: 3%;
  object-fit: cover;
  object-position: center; }

.produces.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 150px;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  border-radius: 3%; }

.container-prod:hover .overlay {
  opacity: 0.8; }

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

a:link {
  text-decoration: none; }

div.polaroid {
  width: 30%;
  height: 30%;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.recipes img {
  display: block;
  width: 100%;
  max-height: 210px;
  object-fit: cover;
  object-position: center; }

div.container {
  text-align: center; }

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.polaroid p {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  height: 2.1em; }

.div1-oneRecipe {
  display: flex; }

.div2-oneRecipe img {
  width: 100%;
  height: auto; }

.div2-oneRecipe {
  display: flex;
  justify-content: space-between;
  align-items: column;
  margin: 0 5% 0 5%; }

section.one-recipe {
  margin: 0 5em; }

.level-duration-ingredients {
  margin-right: 5em; }

.level,
.duration,
.ingredients {
  background-color: rgba(188, 171, 174, 0.5);
  width: 200px; }

body {
  background: rgba(240, 235, 215, 0.5); }

.container-recipes {
  text-align: center; }
  .container-recipes div {
    position: relative;
    display: inline-block;
    height: 200px;
    width: 20%;
    overflow: hidden;
    border-radius: 7px;
    margin: 60px 15px;
    transition: 0.7s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
    box-shadow: 0 10px 50px -20px rgba(0, 0, 0, 0.75); }
    .container-recipes div img {
      width: 150%;
      margin: -25% -25%;
      min-height: 100%;
      transition: 0.7s all cubic-bezier(0.785, 0.135, 0.15, 0.86); }
    .container-recipes div span {
      position: absolute;
      bottom: -20px;
      left: 20px;
      font-family: Arial;
      color: rgba(255, 255, 255, 0);
      font-size: 1.5rem;
      transition: 0.8s all cubic-bezier(0.785, 0.135, 0.15, 0.86); }
    .container-recipes div:before {
      content: '';
      position: absolute;
      background: rgba(255, 255, 255, 0.1);
      width: 50px;
      height: 400px;
      transform: rotate(30deg);
      top: -40px;
      left: -200px;
      transition: 1s all cubic-bezier(0.785, 0.135, 0.15, 0.86); }
    .container-recipes div:hover {
      cursor: pointer;
      transform: scale(1.2);
      border-radius: 10px; }
      .container-recipes div:hover:before {
        content: '';
        left: 350px; }
      .container-recipes div:hover img {
        width: 100%;
        margin: 0;
        min-height: 100%; }
      .container-recipes div:hover span {
        color: white;
        background-color: rgba(19, 3, 3, 0.8);
        bottom: 20px; }

.email {
  font-weight: bold;
  color: white; }

/*# sourceMappingURL=style.css.map */