// Login page 

<form action="login-process" method="POST">

<label>

<input type="text" name="email" placeholder="you@email.com"> </input>

<input type="text" name="password" placeholder="password"> </input>

</label>


</form>