<h2>Login page </h2>

<form action="login-process" method="POST">

<label>
Email:
<input type="text" name="email" placeholder="you@email.com"> </input>
Password:
<input type="text" name="password" placeholder="password"> </input>

</label>

<button> Log In! </button>

</form>