<h2>Login page </h2>

<form action="login-process" method="POST">

<label>
Username:
<input type="text" name="username" placeholder="johnjohn"> </input>
Password:
<input type="text" name="password" placeholder="password"> </input>

</label>

<button>Log In!</button>

</form>