<section class="home">


<form class="form" action="login-process" method="POST">

<label class="form">
Username:
<input type="text" name="username" placeholder="johnjohn"> </input>
</label>

<label class="form">
Password:
<input type="password" name="password" placeholder="password"> </input>
</label>


<button>Log In!</button>

</form>

</section>