<section class="home">

{{> flash_messages}}


<form class="signup-form" action="/signup-process" method="POST">

  <label class="form">
    Full Name
    <input class="form-input" type="text" name="fullName" placeholder="John Smith" />
  </label>

  <label class="form">
    Username
    <input class="form-input" type="text" name="username" placeholder="johnjohn" />
  </label>


  <label class="form">
    Email
    <input class="form-input" type="text" name="email" placeholder="john@smith.com" />
  </label>

  <label class="form">
    Password
    <input class="form-input" type="password" name="password" placeholder="password" />
  </label>

  <button>Sign Up</button>
</form>

</section>
