<section class="home">


<form class="form" action="/signup-process" method="POST">

  <label class="form">
    Full Name:
    <input type="text" name="fullName" placeholder="John Smith" />
  </label>

  <label class="form">
    Username:
    <input type="text" name="username" placeholder="johnjohn" />
  </label>


  <label class="form">
    Email
    <input type="text" name="email" placeholder="john@smith.com" />
  </label>

  <label class="form">
    Password:
    <input type="password" name="originalPassword" placeholder="password" />
  </label>

  <button>Sign Up!</button>
</form>

</section>
