<section class="home">

      <h2>All {{season}} recipes</h2>
      <section>

            <section class="recipes">

                  {{#each recipeSchema}}
                  <div class="polaroid">
                        <p>{{this.title}}</p>
                        <a href="/recipe-one"><img src="{{this.image}}" alt=""/></a>
                  </div>
                  {{/each}}

            </section>
      </section>
</section>