<h2>Add a Recipe</h2>

<form action="/process-recipe" method="POST">
  <label>
    Name: 
    <input type="text" name="name" placeholder="Apple pie">
  </label>

   <label>
    Description: 
    <input type="text" name="description" placeholder="Delicious apple pie">
  </label>

   <label>
    Picture URL: 
    <input type="text" name="pictureUrl" placeholder="http://example.com">
  </label>

  <button>Save This Recipe</button>
</form>


