<h2>All {{season}} recipes</h2>

<div class="container-recipes">
  {{#each recipeSchema}}  
  <div>
    <a href="/recipe-one/{{this._id}}">
    <span>{{this.title}}</span>
    <img src="{{this.image}}" alt="">
    </a>
  </div>
   {{/each}}
  
</div>