<section class="winter">

<h1>All the winter Recipes</h1>

<div class="list-recipes">
  <a href="#0"><img src="./images/winter/recipes/beef-casserole.jpg" alt="">Beef & vegetable casserole</a>
  <a href="#0"><img src="./images/winter/recipes/butternut-squash-soup.jpg" alt="">Sweet potato & butternut squash soup with garlic toast</a>
  <a href="#0"><img src="./images/winter/recipes/crumble.jpg" alt="">Apple, pear & walnut crumble</a>
  <a href="#0"><img src="./images/winter/recipes/leek-potatoe-soup.jpg" alt="">Leek & potato soup</a>
  <a href="#0"><img src="./images/winter/recipes/parsnip-pilaf.jpg" alt="">Parsnip pilaf</a>
  <a href="#0"><img src="./images/winter/recipes/pumpkin-pie.jpg" alt="">Vegan pumpkin pie</a>
</div>

</section>