<section class="home">

<h2>Recipes</h2>
<section class="intro">

  <section class="produces"> 

{{#each recipeSchema}}
<div>
      <p>{{this.title}}</p>
      <img src="{{this.image}}" alt=""></a>
</div>
{{/each}}

</section>
</section>
</section>